<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>

  <body>
    <p>S3에 저장 된 ProfileIcons DB 업로드</p>
    <button class="btn btn-danger" id="icon-save-button">Save</button>
    <p>ChampionIcons S3, DB 업로드</p>
    <input type="file" multiple id="champ-file-input" />
    <button class="btn btn-danger" id="champ-icon-save-button">Save</button>
    <p>itemIcons S3, DB 업로드</p>
    <input type="file" multiple id="item-file-input" />
    <button class="btn btn-danger" id="item-icon-save-button">Save</button>
    <p>summoner spells S3, DB 업로드</p>
    <input type="file" multiple id="spell-file-input" />
    <button class="btn btn-danger" id="spell-icon-save-button">Save</button>
    <p>item 정보 DB 업로드</p>
    <button class="btn btn-danger" id="item-info-save-button">Save</button>
    <script>
      $("#icon-save-button").click(function (e) {
        $.ajax({
          method: "GET",
          url: "/summoner/profileIcons",
        })
      })

      $("#champ-icon-save-button").click(async function (e) {
        const files = $("#champ-file-input")[0].files
        const formData = new FormData()

        Array.from(files).forEach((file) => formData.append("champIcon", file))

        $.ajax({
          contentType: false,
          processData: false,
          method: "POST",
          url: "/summoner/champIcons",
          data: formData,
        })
      })

      $("#item-icon-save-button").click(async function (e) {
        const files = $("#item-file-input")[0].files
        const formData = new FormData()

        Array.from(files).forEach((file) => formData.append("itemIcon", file))

        $.ajax({
          contentType: false,
          processData: false,
          method: "POST",
          url: "/summoner/itemIcons",
          data: formData,
        })
      })

      $("#spell-icon-save-button").click(async function (e) {
        const files = $("#spell-file-input")[0].files
        const formData = new FormData()

        Array.from(files).forEach((file) => formData.append("spellIcon", file))

        $.ajax({
          contentType: false,
          processData: false,
          method: "POST",
          url: "/summoner/spellIcons",
          data: formData,
        })
      })

      $("#item-info-save-button").click(async function (e) {
        $.ajax({
          method: "GET",
          url: "/upload/itemInfos",
        })
      })
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
