<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  </head>

  <body>
    <p>item 정보 DB 업로드</p>
    <button class="btn btn-danger" id="item-info-save-button">Save</button>
    <p>룬 정보 DB 업로드</p>
    <button class="btn btn-danger" id="perk-info-save-button">Save</button>
    <script>
      $('#item-info-save-button').click(async function (e) {
        $.ajax({
          method: 'GET',
          url: '/update/items',
        })
      })

      $('#perk-info-save-button').click(async function (e) {
        $.ajax({
          method: 'GET',
          url: '/update/perks',
        })
      })
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
